[[source]]
url = "https://pypi.douban.com/simple/"
verify_ssl = true
name = "douban"

[packages]
pylint = "*"

[dev-packages]
pipenv = "*"
"flake8" = "*"
"flake8-commas" = "*"
"flake8-quotes" = "*"

[requires]
python_version = "3.6"
